env: minikube
namespace: minikube

replicas: 1
rollingUpdate:
  maxSurge: 1
  maxUnavailable: 1

image:
  name: "cloudfoundry/uaa"
  version: "latest"

database:
  managedPostgres: false
  sqlProxyEnabled: false
  secrets:
    usernameKey: username
    passwordKey: password
    nameKey: db-name

container:
  port: 8080
service:
  port: 80

resources:
  application:
    requests:
      cpu: "400m"
      memory: "1000Mi"
    limits:
      cpu: "1000m"
      memory: "1200Mi"
  proxy:
    requests:
      memory: "25Mi"
      cpu: "10m"
    limits:
      memory: "64Mi"
      cpu: "100m"
gcp:
  project: ras-rm-sandbox